In [20]:
# Import necessary module
#!pip install ipython-sql
from sqlalchemy import create_engine
import pandas as pd

In [16]:

# Create engine: engine
engine= create_engine('sqlite:///data.sqlite')

In [17]:
print(engine)

Engine(sqlite:///data.sqlite)

In [18]:
print(engine.table_names())

['Bookings', 'Facilities', 'Members']

<ipython-input-18-7f622051bbf8>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [ ]:
"""" Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! """

In [35]:
with engine.connect() as con:
    rs= con.execute('select * from bookings')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

In [36]:
df

     bookid facid memid            starttime slots
0         0     3     1  2012-07-03 11:00:00     2
1         1     4     1  2012-07-03 08:00:00     2
2         2     6     0  2012-07-03 18:00:00     2
3         3     7     1  2012-07-03 19:00:00     2
4         4     8     1  2012-07-03 10:00:00     1
...     ...   ...   ...                  ...   ...
4038   4038     8    29  2012-09-30 16:30:00     2
4039   4039     8    29  2012-09-30 18:00:00     1
4040   4040     8    21  2012-09-30 18:30:00     1
4041   4041     8    16  2012-09-30 19:00:00     1
4042   4042     8    29  2012-09-30 19:30:00     1

[4043 rows x 5 columns]

In [ ]:
""""" Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order """"""

In [33]:
with engine.connect() as con:
    rs= con.execute('select M.firstname||" "||M.surname as "MemberName",E.firstname||" "||E.surname as "RecommendedBy" from members M left join members E on E.memid=M.recommendedby')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

In [34]:
df

                 MemberName      RecommendedBy
0               GUEST GUEST               None
1              Darren Smith               None
2               Tracy Smith               None
3                Tim Rownam               None
4           Janice Joplette       Darren Smith
5            Gerald Butters       Darren Smith
6              Burton Tracy               None
7                Nancy Dare    Janice Joplette
8                Tim Boothe         Tim Rownam
9           Ponder Stibbons       Burton Tracy
10             Charles Owen       Darren Smith
11              David Jones    Janice Joplette
12               Anne Baker    Ponder Stibbons
13           Jemima Farrell               None
14               Jack Smith       Darren Smith
15           Florence Bader    Ponder Stibbons
16            Timothy Baker     Jemima Farrell
17             David Pinker     Jemima Farrell
18          Matthew Genting     Gerald Butters
19           Anna Mackenzie       Darren Smith
20              Joan Coplin      Timothy Baker
21         Ramnaresh Sarwin     Florence Bader
22            Douglas Jones        David Jones
23         Henrietta Rumney    Matthew Genting
24            David Farrell               None
25  Henry Worthington-Smyth        Tracy Smith
26        Millicent Purview        Tracy Smith
27      Hyacinth Tupperware               None
28                John Hunt  Millicent Purview
29            Erica Crumpet        Tracy Smith
30             Darren Smith               None

In [ ]:
#/* Q12: Find the facilities with their usage by member, but not guests */

In [ ]:
with engine.connect() as con:
    rs= con.execute('select M.firstname||" "||M.surname as "MemberName", F.name from members M left join Booking B on B.memid= F on F.memid=M.recommendedby')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

In [ ]:
#/* Q13: Find the facilities usage by month, but not guests */

In [47]:
with engine.connect() as con:
    rs= con.execute('select F.name,strftime("%m", B.starttime) as Month,sum(slots) from facilities F inner join Bookings B on B.facid= F.facid group by  F.name, strftime("%m", B.starttime)')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
df

SyntaxError: invalid syntax (<ipython-input-47-c4f84d8b1d45>, line 2)